name: Docker Build/Publish Image

on:
  push:
    branches: [ master ]

env:
  ALPINE_PLATFORM: "arm32v7"
  ALPINE_RELEASE: "3.10"
  PYTHON_VERSION: "3.7"
  DOCKER_TARGET_IMAGE: "mgaggero/alpine-python"
  DOCKER_TARGET_PLATFORM: "linux/arm/v7"

jobs:
  buildx:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.7, 3.8]

    steps:
    -
      name: Checkout the code
      uses: actions/checkout@v2
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    -
      name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1
    -
      name: Prepare
      id: prepare
      run: |
        echo ::set-output name=docker_platform::${DOCKER_TARGET_PLATFORM}
        echo ::set-output name=docker_image_name::${{ env.DOCKER_TARGET_IMAGE }}-$(echo ${PYTHON_VERSION} | cut -f 1 -d '.')
        echo ::set-output name=docker_image_tag::${{ env.ALPINE_PLATFORM }}-${{ env.ALPINE_RELEASE }}-${{ env.PYTHON_VERSION }}
    -
      name: Echo site details
      env:
        MY_PYTHON: ${{ matrix.python }}
      run: echo $MY_PYTHON
    -
      name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PWD }}
    -
      name: Build
      run: |
        curl -L https://github.com/multiarch/qemu-user-static/releases/download/v4.1.0-1/qemu-arm-static.tar.gz | tar zxvf -
        chmod +x qemu-arm-static

        docker buildx build \
        --build-arg PLATFORM=${{ env.ALPINE_PLATFORM }} \
        --build-arg ALPINE_RELEASE=${{ env.ALPINE_RELEASE }} \
        --build-arg PYTHON_VERSION=${{ env.PYTHON_VERSION }} \
        -t ${{ steps.prepare.outputs.docker_image_name }}:${{ steps.prepare.outputs.docker_image_tag }} \
        -t ${{ steps.prepare.outputs.docker_image_name }}:${{ env.ALPINE_PLATFORM }}-${{ env.ALPINE_RELEASE }} \
        --platform ${{ steps.prepare.outputs.docker_platform }} \
        -f docker/Dockerfile --output type=registry .
